
<body>
<!-- 	<div class="line_one"><p> MONEY </p></div>
		<br>
	<div class="line_two"> I am a creative Person </div>
		<br>
	<div class="line_three"> who likes to solve big </div>
		<br> -->

	<div class="row"> 

		 <div class="col s1"><img src="/images/rubyonrailslogo.png"></div>
		 <div class="col s1"><img src="/images/rubyonrailslogo.png"></div>
		 <div class="col s1"><img src="/images/rubyonrailslogo.png"></div> 
	</div>


</body>