<head>
<script src="js/particles.js"></script>
</head>

<nav>
    <div class="nav-wrapper">
    <a href="#" class="brand-logo"><img class="moneylogo" src="/images/moneylogo.gif"></a>
    <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li><a href="index.html.erb">Home</a></li>
        <li><a href="about.html.erb">About Us</a></li>
        <li><a href="contact.html.erb">Contact</a></li>
    </ul>
</nav>


  </div>
    <div class="moneybackground"> 
    <img class="mainmoney" src="/images/money.gif">
  </div>

  
  <div class="canvasdiv" class="center-align">
  <canvas id="myCanvas" class="center-align" width="800px" height="400px"></canvas>
  </div>
 

<!-- 
<div class="container">
<div class="row" class="center-align">
        <div class="col s12 m7">
          <div class="card">
            <div class="card-image">
              <img src="/images/moneylogo.gif">
              <span class="card-title">Card Title</span>
            </div>
            <div class="card-content">
              <p>I am a very simple card. I am good at containing small bits of information.
              I am convenient because I require little markup to use effectively.</p>
            </div>
            <div class="card-action">
              <a href="#">This is a link</a>
            </div>
          </div>
        </div>
      </div>
      </div> -->





  <div class="row">
    <div class="col s4">
        <img class="cardimage" src="/images/css3logo.png">
    </div>
    <div class="col s4">
        <img class="cardimage" src="/images/html5logo.png">
    </div>
    <div class="col s4">
        <img class="cardimage" src="/images/javascriptlogo.png">
    </div>
  </div>

  <div class="row">
    <div class="col s4">
        <img class="cardimage" src="/images/mysqllogo.png">
    </div>
    <div class="col s4">
        <img class="cardimage" src="/images/postgresqllogo.png">
    </div>
    <div class="col s4">
        <img class="cardimage" src="/images/rubyonrailslogo.png">
    </div>
  </div>

  <div class="row">
    <div class="col s4">
        <img class="cardimage" src="/images/css3logo.png">
    </div>
    <div class="col s4">
        <img class="cardimage" src="/images/css3logo.png">
    </div>
    <div class="col s4">
        <img class="cardimage" src="/images/css3logo.png">
    </div>
  </div>


<footer class="page_footer">
    <div class="footer_copyright">
      Copyright &copy; 2015 Moneysingh.com | All rights Reserved
    </div>
</footer>

