<nav>
    <div class="nav-wrapper">
    <a href="#" class="brand-logo"><img class="moneylogo" src="/images/moneylogo.gif"></a>
    <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li><a href="index.html.erb">Home</a></li>
        <li><a href="about.html.erb">About Us</a></li>
        <li><a href="contact.html.erb">Contact</a></li>
    </ul>
    </div>
    <div class="moneybackground"> 
    <img src="/images/money.gif">
    </div>
</nav>

<body>
  <div class="container">
         </div>
            <div class="moneybackground"> 
            <img src="/images/money.gif">
        </div>
        <br>
        <div class="skillsrow">
          <div class="col s1"> <img class="skills" src="/images/css3logo.png"></div>
          <div class="col s1"> <img class="skills" src="/images/html5logo.png"></div>
          <div class="col s1"> <img class="skills" src="/images/javascriptlogo.png"></div>
          <div class="col s1"> <img class="skills" src="/images/mysqllogo.png"></div>
          <div class="col s1"> <img class="skills" src="/images/postgresqllogo.png"></div>
          <div class="col s1"> <img class="skills" src="/images/rubyonrailslogo.png"></div>
          <div class="col s1">7</div>
          <div class="col s1">8</div>
          <div class="col s1">9</div>
          <div class="col s1">10</div>
          <div class="col s1">11</div>
          <div class="col s1">12</div>
        </div>
    </div>

  </div>
</body>