<nav>
  <div class="nav-wrapper">
    <a href="#" class="brand-logo"><img class="moneylogo" src="/images/moneylogo.gif"></a>
    <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li><a href="index.html.erb">Home</a></li>
        <li><a href="about.html.erb">About Us</a></li>
        <li><a href="contact.html.erb">Contact</a></li>
    </ul>
    </div>
    <div class="moneybackground"> 
    <img src="/images/money.gif">
    </div>

</nav>
        