/* Text style for "MONEY" */

.line_one {
width: 617px;
height: 153px;
color: #1b1a1a;
font-family: Roboto;
font-size: 202px;
font-weight: 100;
}


/* Text style for "I am a creativ" */
.line_two {
width: 580px;
height: 66px;
color: #1b1a1a;
font-family: Roboto;
font-size: 67px;
font-weight: 400;
text-align: center;
}