// Place all the styles related to the main controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


div.moneybackground {
	background-color: aquamarine;
	margin-left: 0;
	text-align: center;
	max-height: 700px;
}

nav .nav-wrapper {
  position: relative;
  height: 100%;
  color: aquamarine;
  background: black;
}

img.moneylogo {
	max-height: 70px;
}


img.mainmoney {
	max-height: 650px;
	min-height: 650px;
}

footer.page_footer {
  margin-top: 0;
  padding-top: 0px;
  background-color: #000000;
}
div.footer_copyright {
	color: white;
	font-weight: 200;
	line-height: 70px;
}

img.cardimage {
	max-height: 150px;
	max-width: 150px;
}

.row .col.s4 {
  width: 33.33333%;
  margin-left: 0;
  text-align: center;
}
#myCanvas {
	border: 2px;
	border-style: double;
}


*, *:before, *:after {
  text-align: center;
  box-sizing: inherit;
}