// Place all the styles related to the main controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


div.moneybackground {
	background-color: aquamarine;
	margin-left: 0;
	text-align: center;
	max-height: 700px;
}

nav .nav-wrapper {
  position: relative;
  height: 100%;
  color: aquamarine;
  background: black;
}

img.moneylogo {
	max-height: 70px;
}

div.rowone {
color: black;
font-weight: 300;
font-size: 50px;
}
img.skills {
	max-height: 50px;

}
div.rowrow{

}

img.mainmoney {
	max-height: 600px;
	min-height: 600px;
}


.cl-effect-19 a span {
  position: relative;
  display: inline-block;
  width: 100%;
  padding: 0 14px;
  background: #e35041;
  -webkit-transition: -webkit-transform 0.4s, background 0.4s;
  -moz-transition: -moz-transform 0.4s, background 0.4s;
  transition: transform 0.4s, background 0.4s;
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-transform-origin: 50% 50% -100px;
  -moz-transform-origin: 50% 50% -100px;
  transform-origin: 50% 50% -100px;
}
