// Place all the styles related to the main controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


div.moneybackground {
	background-color: aquamarine;
	margin-left: 0;
	text-align: center;
}

nav .nav-wrapper {
  position: relative;
  height: 100%;
  color: aquamarine;
  background: black;
}

img.moneylogo {
	max-height: 70px;
}

div.rowone {
color: black;
font-weight: 300;
font-size: 50px;
}
img.skills {
	max-height: 150px;

}
